__pycache__
.vscode
.DS_Store
.coverage
coverage.json
coverage.xml
.mypy_cache
.pytest_cache
pymusas.egg-info
dist
build
resources/welsh/output
resources/welsh/cytag_output.xml
resources/welsh/txt_gold_standard_data.txt