[build-system]
requires = [
    "setuptools>=42",
    "wheel"
]
build-backend = "setuptools.build_meta"

[tool.mypy]
files = ["tests/", "pymusas/", "scripts/"]
disallow_untyped_calls = true
disallow_untyped_defs = true
disallow_incomplete_defs = true
disallow_untyped_decorators = false
no_implicit_optional = true
no_strict_optional = false
warn_redundant_casts = true
warn_unused_ignores = true
warn_return_any = true
warn_unreachable = true
allow_untyped_globals = false
allow_redefinition = false
local_partial_types = true
strict_equality = true

[[tool.mypy.overrides]]
module = [
    'urllib3.*', 
    'tqdm.*',
    'pydoc_markdown.*',
    'spacy.vocab',
    'srsly.*'
]
ignore_missing_imports = true

[tool.isort]
known_first_party = "pymusas"
known_third_party = [
    "spacy",
    "tqdm",
    "requests",
    "pytest",
    "responses",
    "pydoc_markdown"
]
force_sort_within_sections = true
multi_line_output = 3
use_parentheses = true
force_grid_wrap = 0
include_trailing_comma = true
lines_after_imports = 2
line_length = 119

[tool.pytest.ini_options]
minversion = "6.0"
testpaths = [
    "tests"
]

[tool.coverage.run]
branch = true
source = [
    "pymusas"
]
command_line = "-m pytest"

[tool.coverage.report]
show_missing = true

[tool.coverage.json]
output = "coverage.json"

[tool.coverage.xml]
output = "coverage.xml"